body {
height: 100%;
width: 100%;
}
.red {
background-color: red;
}
/*.red:hover {
    background-color: blue;
}*/
.white{
background-color: white;
}
/*.orange  {
    background-color: orange;
    height: 20%;
}*/
#target {
margin: 30% auto;
height: 300px;
width: 300px;
/*text-align: center;
display: flex;*/
position: relative;
}
section {
position: absolute;
margin: 0 auto;
padding: 12% 12%;
height: 50%;
width: 50%;
border-radius: 50%;
box-sizing: border-box;
}