* {
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  background-color: lightgray;
}

nav ul {
  list-style-type: none;
}

ul#main-nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex: 1 0 0;
}

#login {
  display: flex;
  justify-content: flex-end;
  flex: 4 0 0;
  align-self: flex-end;
}

#share-bar {
  display: flex;
  flex-direction: column;
}

#share-bar img {
  height: 30px;
  width: 30px;
}